<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.neuralink.cordova.mcardreaderplugin"
    version="0.0.1">
    <name>MCardReaderPlugin</name>
    <description>Cordova plugin to communicate with the android Magnetic Card Reader</description>
    <license>MIT</license>
    <keywords>magnetic card,reader</keywords>

    <!-- js module -->
    <js-module src="www/mcardreaderplugin.js" name="MCardReaderPlugin">
        <clobbers target="window.mcardreaderplugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MCardReaderPlugin">
                <param name="android-package" value="com.neuralink.cordova.mcardreaderplugin.MainActivity"/>
            </feature>
        </config-file>
        <source-file src="src/android/com/neuralink/cordova/mcardreaderplugin/MainActivity.java" target-dir="src/com/neuralink/cordova/mcardreaderplugin" />
        <source-file src="src/android/com/neuralink/cordova/mcardreaderplugin/MCardReaderPlugin.java" target-dir="src/com/neuralink/cordova/mcardreaderplugin" />
        <source-file src="lib/armeabi/libmsr.so" target-dir="libs" />
    </platform>
</plugin>
